body {
    width: 100%;
    height: 98vh;
    margin: 0;
    background-image: url(images_background/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header button {
    margin: 100px;
    width: 250px;
    height: 80px;
    border-radius: 30px;
    font-size: 30px;
    font-family: "Fleur De Leah", cursive;
}

.header button:hover {
    scale: 110%;
    transition: 1s;
}


.Botão{
    cursor: pointer;
    padding: 15px 25px;
    text-align: center;
    position: relative;
    left: 47.5%;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #333;
    margin-top: 50px;
    padding: 15px 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9a8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    scale: 150%;
    cursor: pointer;
    transition: all 0.8s ease
}
.Titulo_obra{

    text-align: center;
    font-family: "Fleur De Leah", cursive;
    font-size: 50px;
    color: #333;
    margin: 20px auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px 25px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9a8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: fit-content;
   
}


.imagens_demonstrativas{
    display: block;
    margin-left: 250px ;
    margin-top: 20px;
    width: 700px;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9a8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.conteudo-lado-a-lado{
    display: flex;
    align-items: center;
    margin-right: 250px;
}

.descricao{
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    color: #333;
    margin: 20px auto;
    margin-left: 350px;
    padding: 15px 25px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9a8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content; 
    max-width: 800px;
    height: fit-content;
    border: 2px solid black; 
    padding: 15px;     
    
    
    
   
}